#loginbox{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(00, 00, 00, 0.5);
    display:none;
    z-index: 10000;
}
#loginbox>div{
    background-color: #F7F7F6;
    position: absolute;
    top: 15.5%;
    left: calc(50% - 225px);
    box-sizing: border-box;
    padding: 34px 50px 30px;
    width: 450px;
}
/* *******用户名密码登录界面******* */
#loginbox>div:first-of-type{
    height: 342px;
}
#loginbox>div>img{
    height: 62px;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}
#loginbox>div h3{
    font-size: 28px;
    color: #666666;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 26px;
    font-weight: 500;
}
#loginbox>div h3 a{
    font-size: 12px;
    color: #999999;
}
#loginbox>div h3 a:hover{
    color: #000000;
}
#loginbox>div form>input:not(#loginbox>div form>input:last-of-type){
    border: 1px solid #CCCCCC;
    border-bottom: none;
    outline: none;
    width: 348px;
    height: 39px;
    text-indent: 18px;
    font-size: 14px;
    border-radius: 0px;
    color: rgb(51,51,51);
}
#loginbox>div form>input:nth-last-of-type(2){
    border-bottom :1px solid #CCCCCC!important;
}
#loginbox>div form>input:not(#loginbox>div form>input:last-of-type)::-webkit-input-placeholder{
    color: #cfcccc;
}
#loginbox form>span{
    color: rgb(140,34,44);
    position: absolute;
    right: 68px;
    top: 108px;
    font-size: 14px;
    display: none
}
#loginbox .login form>span:nth-of-type(2){
    top: 147px;
}

#loginbox .enroll form>span:nth-of-type(2){
    top: 188px;
}
#loginbox .enroll form>span:nth-of-type(3){
    top: 228px;
}
#loginbox form>i {
    position: absolute;
    left: 304px;
    top: 148px;
    font-size: 12px;
    color: #666666;
    display: inline-block;
    width: 75px;
    height: 24px;
    background-color: #F3F0E9;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
}
#loginbox form p{
    margin-top: 13px;
    font-size: 12px;
    color: #666666;
}
#loginbox form p input{
    height: 12px;
    vertical-align: text-top;
}
#loginbox form input[type="password"]::-ms-reveal{
    display: none;
}
#loginbox form p span{
    cursor: pointer;
}
#loginbox form p span:last-of-type{
    float: right;
}
#loginbox form p span:last-of-type:hover{
    color: #000000;
}
#loginbox form p a{
    color: #365899;
}
#loginbox form .redbox{
    width: 350px;
    border: none;
    background-color: #8C222C;
    height: 40px;
    border-radius: 3px;
    margin: 20px 0px;
    color: #FFFFFF;
    letter-spacing: 24px;
    cursor: pointer;
}
#loginbox form .redbox:hover{
    background-color: rgb(106,0,10)
}
#loginbox form>a{
    font-size: 12px;
    color: #7E7E7E;
    display: inline-block;
    width: 62px;
    height: 24px;
    text-align: center;
    line-height: 24px;
}
#loginbox form>a:nth-of-type(1){
    border-radius: 3px;
    background-color: #77A877;
    color: #ffffff;
}
#loginbox form>a:nth-of-type(1):hover{
    background-color:rgb(102,151,102);
}
#loginbox form>a:nth-of-type(2):hover{
    color:rgb(54,88,153);
}
#loginbox form>a:nth-of-type(3):hover{
    color:rgb(140,34,44);
}
#loginbox form>a:nth-of-type(4){
    float: right;
    text-align: right;
    color: #BF7F5F;
}
#loginbox form>a:nth-of-type(4):hover{
    color:rgb(140,34,44);
}
#loginbox .ma center{
    margin-bottom: 20px;
}
#loginbox .ma center img{
    width: 160px;
    height: 160px;
}
#loginbox .ma center p{
    font-size: 12px;
    color: #666666;
    padding-bottom: 20px;
    padding-top: 10px;
    border-bottom: 1px solid #CCCCCC;
}
#loginbox .ma h3{
    margin-bottom: 10px;
}
/* *******关闭按钮******* */
#loginbox #close{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
    position: absolute;
    top: 15.5%;
    left: calc(50% + 245px);
    cursor: pointer;
}
#loginbox input:disabled{
    background-color: #AEAEAE;
    cursor: not-allowed;
}
#loginbox input:disabled:hover{
    background-color: #AEAEAE;
}
/* *******登录注册退出界面******* */
#logzhu b{
    display: none;
    width: 210px;
    height: 78px;
    box-sizing: border-box;
    background-color: #fff;
    position: absolute;
    top: 36px;
    right: -1px;
    z-index: 100;
    border: 1px solid #CCCCCC;
    color: #333333;
    line-height: 78px;
}
#logzhu:hover b{
    display: block;
}
#logzhu b i:hover{
    color: #8C222C;
}
#logzhu b img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle;
    margin: 0 20px;
}
#logzhu b strong{
    margin: 0 10px;
    color: #EDE7E5;
}
/* 登录后的购物车 */
#car img{  
    width: 40px;
    margin-left: 70px;
}